# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# Log dosyaları
logs/
*.log

# Geliştirme dosyaları
.idea/
.vscode/
*.swp
*.swo

# Miscellaneous
.DS_Store
.project
.settings 